﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>

<body>
    
    <div class="container body-content">
        @RenderBody()
        
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
