﻿<div>
    <h1>St.OneSysTestWebApi</h1>
    <p>
        Сущность <b>Customer</b> имеет два поля – <b>Name</b>(string) и <b>Email</b>(string).<br/>
        Сущность <b>Order</b> имеет два поля – <b>Price</b>(decimal) и <b>CreatedDate</b>(DateTime).
    </p>
    <p>
        [GET] api/Customers – вернуть список сущностей Сustomer, без ассоциированных сущностей Order<br/>
        [GET] api/Customers/{id} – вернуть сущность Customer и ассоциированную с ней коллекцию Order<br />
        [POST] api/Customers/{id} – добавить новый Order для существующего Customer<br />
        [POST] api/Customers – добавить новую сущность Customer<br />
        [GET] api/Reports/Total – вернуть общий отчет по приложению<br />
    </p>
</div>

